# Dependencies
/**/node_modules
/**/.pnp
/**/.pnp.js

# Next.js specific
/**/.next/
/**/out/
/**/.swc/

# Build outputs
/**/dist
/**/.turbo
/**/.cache
/**/build

# IDE/Editor
.idea/
.vscode/
*.sublime-*
*.swp
*.swo

# Logs
/**/logs
/**/*.log
/**/npm-debug.log*
/**/yarn-debug.log*
/**/yarn-error.log*

# Environment
/**/.env
/**/.env.*
!/**/.env.example