.section {
    height: 100%;
    padding: 10rem 10vw 10rem 10vw;
    background-color: #e5ddd5;
}

.gallery {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 5rem;
    width: 100%;
}

.imageContainer {
    display: flex;
    align-items: flex-start;
}

.image {
    border-radius: 2rem;
    height: auto;
}

.textdiv {
    border: 5px outset #b2aca5;
    border-radius: 20px;
    padding: 50px;
    font-size: 2vw;
}

.h1 {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
}
 
.p {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media screen and (max-width: 767px) {
    .gallery {
        grid-template-columns: 1fr;
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
    }

    .textdiv {
        font-size: 4vw;
    }

}
